.registerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    flex-direction: column;

    h1 {
        font-size: 30px;
        font-weight: 700;
    }

    label {
        font-weight: 500;
    }

    input {
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-left: 2px;
        padding-left: 5px;
    }
}