.heroContainer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    .heroWrapper {
        padding-top: 50px;

        img {
            width: 100%;
            height: 75vh;

            @media only screen and (max-width: 768px) {
                height: 50vh;
            }
        }

    }

    h1 {
        text-align: center;
        color: #015249;
        font-weight: 600;
    }

    .sliderContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        padding: 3rem 0;

        img {
            cursor: pointer;
        }
    }

    .vidaMission {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // padding: 3rem 0;

        .missionText {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 5rem 2rem;
            background-color: #015249;
            border-radius: 10px;
            font-size: 30px;
        }

        h2 {
            color: #015249;
            font-weight: 600;
            text-align: center;
        }

        p {
            color: #fff;
            font-weight: 400;
            text-align: center;
            padding: 1rem 0;
        }
    }
}