.appointmentsModal {
  overflow: auto;
  .modalContainer {
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 4rem 1rem;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 80vh;
    overflow: auto;

    @media only screen and (max-width: 768px) {
      width: 85%;
      top: 47%;
    }

    i {
      color: #015249;
      font-size: 20px;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .modalWrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: flex-start;
      text-align: center;
      .modalTitle {
        color: #015249;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .appointmentWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px;

        p {
          color: #000;
          font-size: 18px;
          text-align: left;
        }
      }
    }
  }
}
